<h1 class="mb-1">{{title}}</h1>
<div class="flex gap-1 mb-4">
    <span class="color-gray">{{date}}</span>
    <span class="color-gray">•</span>
    <span class="color-gray">{{readingTime}}</span>
</div>
<hr />