<html>
    {{> head}}
    <body>
        {{> nav}}
        <main>
            <h1>Alex McGovern</h1>

            <p>
                Senior frontend engineer with 5+ years of experience, primarily
                in the FinTech space (Open banking, Baas, payments)
            </p>
            <p>
                In my current role, I am lead engineer on the banking portal for
                <a href="https://fuse.me">Fuse</a>
                a payments company operating in the Middle East.
            </p>
            <p>
                Previously I was a frontend engineer and engineering manager at
                <a href="https://truelayer.com">TrueLayer</a>
                where I worked on the public website.
            </p>
        </main>
    </body>
</html>