<html>
{{> head}}

<body>
    {{> nav}}
    <main>
        <h1>Alex McGovern</h1>
        {{{homepageIntro}}}

        {{!--
        <hr /> --}}

        {{!-- <h3>My story</h3>
        {{> workExperience}} --}}
    </main>
</body>
{{> footer}}

</html>